<%- include('partials/header') %>

<div class="jumbotron text-center p-5" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <% datas.forEach(function(user) { %>

    <p class="secret-text"><%= user.secret %></p>

    <%})%>


    <hr>
    
<!--    <a class="" href="/logout" role="button">Log Out</a>-->


      <div class="row mx-auto" style="width: 40%">
        <div class="col-6 p-0">
          <form action="/logout" method="post">
            <input class="btn btn-light btn-lg" type="submit" value="Log Out">
          </form>
        </div>
        <div class="col-6 p-0"><a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a></div>
      </div>


  </div>
</div>

<%- include('partials/footer') %>
